<!DOCTYPE html>

<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='description' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'-->
    <link rel='stylesheet' href='./assets/css/style.css'>

</head>

<body>
    <h1 class='center-align'>Tracker</h1>
    <div class='container'>
        <!-- Page Content goes here -->
        <div>
            <form>
                    <div>
                        <label for="playerOne">Player:</label>
                        <input type="text"></input>
                        <h2>Score:<span id="playerOneScore">0</span></h2>
                        <button>+</button><button>-</button>
                    </div>
                    <div>
                        <label for="playerTwo">Player:</label>
                        <input type="text"></input>
                        <h2>Score:<span id="playerTwoScore">0</span></h2>
                        <button>+</button><button>-</button>
                    </div>
            </form>
        </div>
        <div>
            <div>
                <form>
                    <label for="battlePlan">BattlePlan:</label>
                    <select id="battleSelect" name="battlePlan">
                        <option value="none"><em>select...</em></option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div>
                <p id="battleDescription">PlaceHolder Description</p>
            </div>
        </div>
        <!--Round Counter-->
        <div>
            <form>
                <label for="phase">Phase:</label>
                <select id="phaseSelect" name="phaseSelect">
                    <option value="none"><em>select...</em></option>
                    <option value="hero">Hero</option>
                    <option value="movement">Movement</option>
                    <option value="shooting">Shooting</option>
                    <option value="charge">Charge</option>
                    <option value="combat">Combat</option>
                    <option value="battleShock">BattleShock</option>
                </select>
            </form>
        </div>

        <div>
            <table>
                <th>
                    <tr>
                        <td>Ability</td>
                        <td>Hero</td>
                        <td>Description</td>
                        <td>Range</td>
                    </tr>
                </th>
                <tr>
                <tr>
                    <td>Prayer of Ash</td>
                    <td>Priest</td>
                    <td>Roll d6, on 4+ +1 to save unit within 18"</td>
                    <td>18"</td>
                </tr>

                </tr>
            </table>
        </div>

    </div>



    <!--[if lt IE 7]>
            <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='#'>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Jquery CDN-->
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'
        integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous'></script>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
    <script src='./assets/js/tracker.js'></script>
</body>

</html>