<!DOCTYPE html>

<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tracker</title>
    <meta name='description' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>
    <link rel='stylesheet' href='./assets/css/style.css'>

</head>

<body>
    <div class='container'>
    <h1 class='center-align indigo lighten-5'>Tracker</h1>  
        <!-- Player Tracker -->
        <div class="row">
            <div class="col s6 left">
                <div id="playerLeft" class="left left-align">
                    <label for="playerOne">Player:</label>
                    <input type="text"></input>
                </div>
            </div>
            <div class="col s6 right">
                <div id="playerReft" class="right right-align">
                    <label for="playerTwo">Player:</label>
                    <input type="text"></input>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s2 left left-align">
                <a class="waves-effect waves-light btn indigo">+</a>
            </div>
            <div class="col s2 left left-align">
                <p>Score: <span>0</span></p>
            </div>
            <div class="col s2 left left-align">
                <a class="waves-effect waves-light btn indigo">-</a>
            </div>
            <div class="col s2 right right-align">
                <a class="waves-effect waves-light btn indigo">+</a>
            </div>
            <div class="col s2 right right-align">
                <p>Score: <span>0</span></p>
            </div>
            <div class="col s2 right right-align">
                <a class="waves-effect waves-light btn indigo   ">-</a>
            </div>
        </div>
        
        <!--Battleplan Selecter-->
        <div class="row">
            <div class="input-field col s6">
                <select id='battleSelect' name='battlPlan'>
                    <option value="none"><em>select...</em></option>
                </select>
                <label>Battleplan:</label>
            </div>
            <div class="col s6">
                <p id="battleDescription">Description:</p>
            </div>
        </div>
        <!--Phase Tracker-->
        <div class="row">
            <div class="input-field col s6">
            <form>
                <label for="phase">Phase:</label>
                <select id="phaseSelect" name="phase">
                        <option value="none"><em>select...</em></option>
                        <option value="hero">Hero</option>
                        <option value="movement">Movement</option>
                        <option value="shooting">Shooting</option>
                        <option value="charge">Charge</option>
                        <option value="combat">Combat</option>
                        <option value="battleShock">BattleShock</option>
                </select>
            </form>
            </div>
            <div class="input-field col s6">
                <form>
                    <label for="subPhase">Subphase:</label>
                        <select id="subPhaseSelect" name="subPhase">
                            <option value="none"><em>select...</em></option>
                            <option value="hero">Start</option>
                            <option value="movement">End</option>
                        </select>
                    </form>
                    </div>
        </div>

        <div>
            <h2 class="center-align indigo lighten-4">Abilities</h2>
            <div id="abilityTable">
                <div class="row">
                    <div class="center-align col s2">
                        <p>Name</p>
                    </div>
                    <div class="center-align col s2">
                        <p>Hero</p>
                    </div>
                    <div class="center-align col s4">
                        <p>Description</p>
                    </div>
                    <div class="center-align col s2">
                        <p>Range</p>
                    </div>
                    <div class="center-align col s2">
                        <p>Phase</p>
                    </div>
                </div>
        </div>

    </div>



    <!--[if lt IE 7]>
            <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='#'>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Jquery CDN-->
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'
        integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous'></script>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
    <script src='./assets/js/tracker.js'></script>
</body>

</html>